.carbonads {
  background: #FEFEFE;
  margin-top: 10px;
}
.carbonads .carbon-text {
  font-size: 12px;
}
.carbonads .carbon-poweredby {
  font-size: 12px;
  color: #999;
  display: block;
  text-align: right;
}
.carbonads-home {
  background: #FEFEFE;
  height: 226px;
}
.carbonads-home .carbon-text {
  font-size: 12px;
}
.carbonads-home .carbon-poweredby {
  font-size: 12px;
  display: block;
  text-align: right;
  color: #999;
}
.carbonads-home #carbonads {
  margin-top: 15px;
}